// Copyright (c) Microsoft Corporation. All rights reserved.
//
// resource script for msh.exe
//

#include <windows.h>

#define MANIFEST_RESOURCE_ID 1

MANIFEST_RESOURCE_ID RT_MANIFEST "powershell.exe.manifest"
MSH_MAIN             ICON        "monad.ico"
MSH_SECURITY         ICON        "powershell_securitybadge.ico"

STRINGTABLE DISCARDABLE
BEGIN

    // Elements of our jump list, and file descriptions, and LNK
    // descriptions
    101                       "Windows PowerShell ISE"
    102                       "Windows PowerShell ISE (x86)"
    103                       "Windows PowerShell Script"
    104                       "Windows PowerShell Data File"
    105                       "Windows PowerShell XML Document"
    106                       "Windows PowerShell Script Module"
    107                       "Windows PowerShell Console File"
    108                       "Run with PowerShell"
    109                       "Windows PowerShell"
    110                       "Windows PowerShell (x86)"
    111                       "Performs object-based (command-line) functions"
    112                       "Run as 32"
    113                       "Windows PowerShell Integrated Scripting Environment. Performs object-based (command-line) functions"
    118                       "Run as Administrator"
    119                       "Runs with administrator privileges"
    120                       "Windows PowerShell Cmdlet Definition XML Document"
    121                       "Windows PowerShell Session Configuration File"
    122                       "Run ISE as Administrator"
    123                       "Runs ISE with administrator privileges"

    // Misc resources

    // Friendly name for our OID mapping
    124                       "Document Encryption"
END

#include "nativemsh.rc"
#include "version.rc"
