//
//    Copyright (c) Microsoft Corporation. All rights reserved.
//
#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE    			VFT_APP
#define VER_FILESUBTYPE 			VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR		"Windows PowerShell"
#define VER_INTERNALNAME_STR        "POWERSHELL"
#define VER_ORIGINALFILENAME_STR    "PowerShell.EXE"

#include <common.ver>
