# https://help.github.com/articles/about-codeowners/

# Areas are not limited to the filters defined in this file
# First, let's start with areas with no filters or paths

# Default
* @PowerShell/powershell-maintainers

# Area: Performance
# @adityapatwardhan 

# Area: Security
src/System.Management.Automation/security/wldpNativeMethods.cs @TravisEz13 @seeminglyscience

# Area: CI Build
.github/workflows    @PowerShell/powershell-maintainers @jshigetomi
.github/actions      @PowerShell/powershell-maintainers @jshigetomi 

# Now, areas that should have paths or filters, although we might not have them defined
# According to the docs, order here must be by precedence of the filter, with later rules overwritting
# but the feature seems to make taking a union of all the matching rules.

# Area: Cmdlets Management
# src/Microsoft.PowerShell.Commands.Management/      @daxian-dbw @adityapatwardhan

# Area: Utility Cmdlets
# src/Microsoft.PowerShell.Commands.Utility/         

# Area: Console
# src/Microsoft.PowerShell.ConsoleHost/              @daxian-dbw

# Area: DSC
# src/System.Management.Automation/DscSupport        @TravisEz13 @SteveL-MSFT

# Area: Engine
# src/System.Management.Automation/engine            @daxian-dbw

# Area: Debugging
# Must be below engine to override
# src/System.Management.Automation/engine/debugger/  

# Area: Help
src/System.Management.Automation/help              @adityapatwardhan @daxian-dbw

# Area: Intellisense
# @daxian-dbw

# Area: Language
src/System.Management.Automation/engine/parser     @daxian-dbw @seeminglyscience

# Area: Providers
# src/System.Management.Automation/namespaces        

# Area: Remoting
src/System.Management.Automation/engine/remoting    @daxian-dbw @TravisEz13

# Areas: Build
# Must be last
*.config   @PowerShell/powershell-maintainers @jshigetomi
*.props    @PowerShell/powershell-maintainers @jshigetomi
*.yml      @PowerShell/powershell-maintainers @jshigetomi
*.csproj   @PowerShell/powershell-maintainers @jshigetomi
build.*    @PowerShell/powershell-maintainers @jshigetomi
tools/     @PowerShell/powershell-maintainers @jshigetomi
# docker/    @PowerShell/powershell-maintainers @jshigetomi

# Area: Compliance
tools/terms    @TravisEz13
tools/credScan @TravisEz13
