# https://help.github.com/articles/about-codeowners/

# Areas are not limited to the filters defined in this file
# First Lets start with areas with no filters or paths

# Area: Performance
# @adityapatwardhan

# Area: Portability
# @BrucePay @JamesWTruher

# Area: Security
# @TravisEz13 @PaulHigin

# Area: Documentation
.github/    @joeyaiello @TravisEz13

# Area: Test
# @JamesWTruher @TravisEz13 @adityapatwardhan

# Area: Cmdlets Core
# @JamesWTruher @SteveL-MSFT @anmenaga @chunqingchen

# Now Areas that should have paths or filters, although we might not have them defined
# According to the docs, Order here must be by precedence of the filter, with later rules overwritting
# but the feature seems to make taking a union of all the matching rules.

# Area: CmdLets Management
src/Microsoft.PowerShell.Commands.Management/      @daxian-dbw @adityapatwardhan

# Area: CmdLets Utility
src/Microsoft.PowerShell.Commands.Utility/         @JamesWTruher @dantraMSFT @PaulHigin

# Area: Console
src/Microsoft.PowerShell.ConsoleHost/              @daxian-dbw @anmenaga

# Area: Demo
demos/                                             @joeyaiello @SteveL-MSFT @HemantMahawar

# Area: DSC
src/System.Management.Automation/DscSupport        @TravisEz13 @dantraMSFT

# Area: engine
src/System.Management.Automation/engine            @daxian-dbw @BrucePay

# Area: Debugging
# Must be below engine to override
src/System.Management.Automation/engine/debugger/  @BrucePay @dantraMSFT @PaulHigin

# Area: help
src/System.Management.Automation/help              @Francisco-Gamino @adityapatwardhan

# Area: Intellisense
# @daxian-dbw @charub

# Area: Language
src/System.Management.Automation/engine/parser     @daxian-dbw @BrucePay

# Area: Providers
src/System.Management.Automation/namespaces        @BrucePay @anmenaga

# Area: Remoting
src/System.Management.Automation/engine/remoting   @dantraMSFT @mirichmo @PaulHigin

# Area: Side-By-Side
# @mirichmo @charub

# Area: Libpsl-native
src/libpsl-native                                  @dantraMSFT

# Areas: Build
# Must be last
*.config   @daxian-dbw @TravisEz13 @adityapatwardhan @anmenaga @dantraMSFT
*.props    @daxian-dbw @TravisEz13 @adityapatwardhan @anmenaga @dantraMSFT
*.yml      @daxian-dbw @TravisEz13 @adityapatwardhan @anmenaga @dantraMSFT
*.csproj   @daxian-dbw @TravisEz13 @adityapatwardhan @anmenaga @dantraMSFT
build.*    @daxian-dbw @TravisEz13 @adityapatwardhan @anmenaga @dantraMSFT
tools/     @daxian-dbw @TravisEz13 @adityapatwardhan @anmenaga @dantraMSFT
docker/    @daxian-dbw @TravisEz13 @adityapatwardhan @anmenaga @dantraMSFT

# Area: Compliance
tools/terms    @TravisEz13
tools/credScan @TravisEz13
