<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Management.UI.Internal.ShowCommand.ShowCommandSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Microsoft.Management.UI.Internal.HelpWindow.HelpWindowSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Microsoft.Management.UI.Internal.ShowCommand.ShowCommandSettings>
            <setting name="ShowOneCommandTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShowOneCommandLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShowOneCommandWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShowOneCommandHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShowCommandsTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShowCommandsLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShowCommandsWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShowCommandsHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShowCommandsWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowOneCommandWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
        </Microsoft.Management.UI.Internal.ShowCommand.ShowCommandSettings>
        <Microsoft.Management.UI.Internal.HelpWindow.HelpWindowSettings>
            <setting name="HelpSyntaxDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HelpExamplesDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HelpSynopsysDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HelpDescriptionDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HelpParametersDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HelpInputsDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HelpOutputsDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HelpNotesDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HelpRelatedLinksDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HelpSearchMatchCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HelpSearchWholeWord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HelpWindowTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="HelpWindowLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="HelpWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HelpZoom" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HelpWindowHeight" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="HelpWindowWidth" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="HelpRemarksDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
        </Microsoft.Management.UI.Internal.HelpWindow.HelpWindowSettings>
    </userSettings>
</configuration>
