[submodule "src/libpsl-native"]
	path = src/libpsl-native
	url = https://github.com/PowerShell/psl-native.git
[submodule "src/omi"]
	path = src/omi
	url = https://github.com/Microsoft/omi.git
	branch = psrp/features
[submodule "src/omi-provider"]
	path = src/omi-provider
	url = https://github.com/PowerShell/psl-omi-provider.git
[submodule "src/windows-build"]
	path = src/windows-build
	url = https://github.com/PowerShell/psl-windows-build.git
[submodule "src/Microsoft.PowerShell.Linux.Host/Modules/Pester"]
	path = src/Microsoft.PowerShell.Linux.Host/Modules/Pester
	url = https://github.com/PowerShell/psl-pester.git
	branch = develop
	ignore = dirty
