[submodule "src/monad"]
	path = src/monad
	url = https://msostc.visualstudio.com/DefaultCollection/PS/_git/monad
	branch = develop
[submodule "src/monad-native"]
	path = src/monad-native
	url = https://msostc.visualstudio.com/DefaultCollection/PS/_git/monad-native
[submodule "ext-src/pester"]
	path = ext-src/pester
	url = https://msostc.visualstudio.com/DefaultCollection/PS/_git/Pester
	branch = develop
	ignore = dirty
[submodule "src/monad-omi-provider"]
	path = src/monad-omi-provider
	url = https://msostc.visualstudio.com/DefaultCollection/PS/_git/monad-omi-provider
[submodule "src/omi"]
	path = src/omi
	url = https://github.com/MSFTOSSMgmt/omi.git
	branch = psrp/features
[submodule "src/monad-build"]
	path = src/monad-build
	url = https://msostc.visualstudio.com/DefaultCollection/PS/_git/monad-build
[submodule "src/dsc"]
	path = src/dsc
	url = https://github.com/Microsoft/PowerShell-DSC-for-Linux.git
