<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- install packages to a custom path -->
    <add key="repositoryPath" value="Packages"/>
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="appveyor-psl-windows-build" value="https://ci.appveyor.com/nuget/psl-windows-build-buunqeauqyp5" />
  </packageSources>
  <packageSourceCredentials>
    <appveyor-psl-windows-build>
      <add key="Username" value="xvors.x@gmail.com" />
      <add key="ClearTextPassword" value="1a017c69bc74332896cabed5ef0c470777bc31c1" />
    </appveyor-psl-windows-build>
  </packageSourceCredentials>
</configuration>
