<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="asptnetcidev" value="https://www.myget.org/F/aspnetcidev/" />
    <add key="dotnet-core" value="https://www.myget.org/F/dotnet-core/api/v2/" />
  </packageSources>
  <activePackageSource>
    <add key="asptnetcidev" value="https://www.myget.org/F/aspnetcidev/" />
    <add key="dotnet-core" value="https://www.myget.org/F/dotnet-core/api/v2/" />
  </activePackageSource>
</configuration>
