<form name="MultipartForm" method="post" enctype="multipart/form-data">
    <div>
        <label for="TextBox">TextBox text field</label>
        <input name="TextBox" type="text" />
    </div>
    <div>
        <label for="TextFile">TextFile file field</label>
        <input name="TextFile" type="file" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
