System.Collections.Immutable.*/
System.Reflection.Metadata.*/
Microsoft.Net.ToolsetCompilers.*/
dotnetlibs/
gen-all-files.txt
monad-src.diff
output.txt
string-resources-files.txt
string-resources-orig.txt
xunit.abstractions.*/
xunit.core.*/
xunit.extensibility.core.*/
xunit.runner.console.*/
TypeCatalogGen.exe
System.Collections.Immutable.dll
System.Reflection.Metadata.dll
commands-management-win.mk
commands-utility-win.mk
management-infrastructure-win.mk
system-automation-win.mk
CorePsTypeCatalog.cs
buildtemp/
exec_env/

