// Copyright (c) Microsoft Corporation. All rights reserved.
//
// resource script for msh.exe
//

#include <windows.h>

#define MANIFEST_RESOURCE_ID 1

MANIFEST_RESOURCE_ID RT_MANIFEST "pwrshplugin.dll.manifest"

#include "pwrshpluginerrorcodes.rc"
#include "version.rc"