name: 'Create reminder'

on:
  issue_comment:
    types: [created, edited]

permissions:
  contents: read

jobs:
  reminder:
    permissions:
      issues: write  # for agrc/create-reminder-action to set reminders on issues
      pull-requests: write  # for agrc/create-reminder-action to set reminders on PRs
    runs-on: ubuntu-latest

    steps:
      - name: check for reminder
        uses: agrc/create-reminder-action@922893a5705067719c4c4751843962f56aabf5eb # v1.1.13
