on:
  pull_request:
    branches:
      - master

name: Check modified markdown files
permissions:
  contents: read

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'PowerShell'

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: tcort/github-action-markdown-link-check@f3d33029dca1c4a24b87e2df648f9f4604ef6533 # v1
      with:
        use-quiet-mode: 'yes'
        use-verbose-mode: 'yes'
        check-modified-files-only: 'yes'
        config-file: .github/workflows/markdown-link/config.json
  markdown-lint:
    permissions:
      contents: read
      packages: read
      statuses: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        # Full git history is needed to get a proper
        # list of changed files within `super-linter`
        fetch-depth: 0
    - name: Load super-linter configuration
      # Use grep inverse matching to exclude eventual comments in the .env file
      # because the GitHub Actions command to set environment variables doesn't
      # support comments.
      # Ref: https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/workflow-commands-for-github-actions#setting-an-environment-variable
      run: grep -v '^#' tools/super-linter/config/super-linter.env >> "$GITHUB_ENV"
    - name: Lint Markdown
      uses: super-linter/super-linter@5119dcd8011e92182ce8219d9e9efc82f16fddb6 # v8.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Super-Linter correction instructions
      if: failure()
      uses: actions/github-script@v7.0.1
      with:
        script: |
          const message = "Super-Linter found issues in the changed files. Please check the logs for details.  You can run the linter locally using the command: `./tools/super-lister/super-lister.ps1`.";
          core.setFailed(message);
