on:
  pull_request:
    branches:
      - master

name: Check modified markdown files
permissions:
  contents: read

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
    - uses: gaurav-nelson/github-action-markdown-link-check@5c5dfc0ac2e225883c0e5f03a85311ec2830d368 # v1
      with:
        use-quiet-mode: 'yes'
        use-verbose-mode: 'yes'
        check-modified-files-only: 'yes'
        config-file: .github/workflows/markdown-link/config.json
  markdown-lint:
    permissions:
      contents: read
      packages: read
      statuses: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
      with:
        # Full git history is needed to get a proper
        # list of changed files within `super-linter`
        fetch-depth: 0
    - name: Lint Markdown
      uses: super-linter/super-linter@b92721f792f381cedc002ecdbb9847a15ece5bb8 # v7.1.0
      env:
        VALIDATE_ALL_CODEBASE: false
        DEFAULT_BRANCH: master
        FILTER_REGEX_INCLUDE: .*\.md
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        VALIDATE_EDITORCONFIG: false
        VALIDATE_JSCPD: false
        VALIDATE_CHECKOV: false
