on:
  pull_request:
    branches:
      - master
      - 'release/**'

name: Check modififed markdown files
permissions:
  contents: read

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        use-quiet-mode: 'yes'
        use-verbose-mode: 'yes'
        check-modified-files-only: 'yes'
        config-file: .github/workflows/markdown-link/config.json
  markdown-lint:
    permissions:
      contents: read
      packages: read
      statuses: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Lint Markdown
      uses: super-linter/super-linter@v5
      env:
        VALIDATE_ALL_CODEBASE: false
        DEFAULT_BRANCH: master
        FILTER_REGEX_INCLUDE: .*\.md
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
