name: Windows-CI
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - release*
      - feature*
    paths:
      - "**"
      - "!.vsts-ci/misc-analysis.yml"
      - "!.github/ISSUE_TEMPLATE/**"
      - "!.dependabot/config.yml"
      - "!test/perf/**"
      - "!.pipelines/**"
  pull_request:
    branches:
      - master
      - release*
      - feature*
# Path filters for PRs need to go into the changes job

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

run-name: "${{ github.ref_name }} - ${{ github.run_number }}"

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  GIT_CONFIG_PARAMETERS: "'core.autocrlf=false'"
  NugetSecurityAnalysisWarningLevel: none
  POWERSHELL_TELEMETRY_OPTOUT: 1
  __SuppressAnsiEscapeSequences: 1
  nugetMultiFeedWarnLevel: none
jobs:
  ci_build:
    name: Build PowerShell
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4.1.0
        with:
          fetch-depth: 1000
      - name: Build
        uses: "./.github/actions/build/ci"
  changes:
    name: Change Detection
    runs-on: ubuntu-latest
    # Required permissions
    permissions:
      pull-requests: read
    # Set job outputs to values from filter step
    outputs:
      source: ${{ steps.filter.outputs.source }}
    steps:
    # For pull requests it's not necessary to checkout the code
    - uses: dorny/paths-filter@v3
      id: filter
      with:
        filters: |
          source:
            - ".github/actions/**"
            - ".github/workflows/windows-ci.yml"
            - "**.props"
            - build.psm1
            - src/**
            - test/**
            - tools/buildCommon/**
            - tools/ci.psm1
            - tools/WindowsCI.psm1
            - "!test/common/markdown/**"
            - "!test/perf/**"
  windows_test_unelevated_ci:
    name: Windows Unelevated CI
    needs:
      - ci_build
      - changes
    if: ${{ needs.changes.outputs.source == 'true' }}
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4.1.0
        with:
          fetch-depth: 1000
      - name: Windows Unelevated CI
        uses: "./.github/actions/test/windows"
        with:
          purpose: UnelevatedPesterTests
          tagSet: CI
  windows_test_elevated_ci:
    name: Windows Elevated CI
    needs:
      - ci_build
      - changes
    if: ${{ needs.changes.outputs.source == 'true' }}
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4.1.0
        with:
          fetch-depth: 1000
      - name: Windows Elevated CI
        uses: "./.github/actions/test/windows"
        with:
          purpose: ElevatedPesterTests
          tagSet: CI
  windows_test_unelevated_others:
    name: Windows Unelevated Others
    needs:
      - ci_build
      - changes
    if: ${{ needs.changes.outputs.source == 'true' }}
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4.1.0
        with:
          fetch-depth: 1000
      - name: Windows Unelevated Others
        uses: "./.github/actions/test/windows"
        with:
          purpose: UnelevatedPesterTests
          tagSet: Others
  windows_test_elevated_others:
    name: Windows Elevated Others
    needs:
      - ci_build
      - changes
    if: ${{ needs.changes.outputs.source == 'true' }}
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4.1.0
        with:
          fetch-depth: 1000
      - name: Windows Elevated Others
        uses: "./.github/actions/test/windows"
        with:
          purpose: ElevatedPesterTests
          tagSet: Others
  verify_xunit:
    name: Verify xUnit test results
    needs:
      - ci_build
      - changes
    if: ${{ needs.changes.outputs.source == 'true' }}
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4.1.0
        with:
          fetch-depth: 1000
      - name: Verify xUnit test results
        uses: "./.github/actions/test/verify_xunit"
  ready_to_merge:
    name: windows ready to merge
    needs:
      - verify_xunit
      - windows_test_elevated_ci
      - windows_test_elevated_others
      - windows_test_unelevated_ci
      - windows_test_unelevated_others
    if: always()
    uses: PowerShell/compliance/.github/workflows/ready-to-merge.yml@master
    with:
      needs_context: ${{ toJson(needs) }}
