name: Windows-CI
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - release*
      - feature*
    paths:
      - "*"
      - "!.vsts-ci/misc-analysis.yml"
      - "!.github/ISSUE_TEMPLATE/*"
      - "!.dependabot/config.yml"
      - "!test/perf/*"
      - "!.pipelines/*"
  pull_request:
    branches:
      - master
      - release*
      - feature*
    paths:
      - ".github/actions/*"
      - ".github/workflows/windows-ci.yml"
      - "*.props"
      - build.psm1
      - src/*
      - test/*
      - tools/buildCommon/*
      - tools/ci.psm1
      - tools/WindowsCI.psm1
      - "!test/common/markdown/*"
      - "!test/perf/*"
permissions:
  contents: read

run-name: "${{ github.ref_name }} - ${{ github.run_number }}"

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  GIT_CONFIG_PARAMETERS: "'core.autocrlf=false'"
  NugetSecurityAnalysisWarningLevel: none
  POWERSHELL_TELEMETRY_OPTOUT: 1
  __SuppressAnsiEscapeSequences: 1
  nugetMultiFeedWarnLevel: none
jobs:
  ci_build:
    name: Build PowerShell
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4.1.0
        with:
          fetch-depth: 1000
      - name: Build
        uses: "./.github/actions/build/ci"
  windows_test:
    name: Windows Unelevated CI
    needs: ci_build
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4.1.0
        with:
          fetch-depth: 1000
      - name: Windows Unelevated CI
        uses: "./.github/actions/test/windows"
        with:
          purpose: UnelevatedPesterTests
          tagSet: CI
  windows_test_2:
    name: Windows Elevated CI
    needs: ci_build
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4.1.0
        with:
          fetch-depth: 1000
      - name: Windows Elevated CI
        uses: "./.github/actions/test/windows"
        with:
          purpose: ElevatedPesterTests
          tagSet: CI
  windows_test_3:
    name: Windows Unelevated Others
    needs: ci_build
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4.1.0
        with:
          fetch-depth: 1000
      - name: Windows Unelevated Others
        uses: "./.github/actions/test/windows"
        with:
          purpose: UnelevatedPesterTests
          tagSet: Others
  windows_test_4:
    name: Windows Elevated Others
    needs: ci_build
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4.1.0
        with:
          fetch-depth: 1000
      - name: Windows Elevated Others
        uses: "./.github/actions/test/windows"
        with:
          purpose: ElevatedPesterTests
          tagSet: Others
  verify_xunit:
    name: Verify xUnit test results
    needs: ci_build
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4.1.0
        with:
          fetch-depth: 1000
      - name: Verify xUnit test results
        uses: "./.github/actions/test/verify_xunit"
